 
@{  var Danh_sach_Quan_ly = XL_LUU_TRU.Doc_Danh_sach_Quan_ly();
    var Danh_sach_Nhan_vien = XL_LUU_TRU.Doc_Danh_sach_Nhan_vien();
    var Danh_sach_Nhom_hang = XL_LUU_TRU.Doc_Danh_sach_Nhom_hang();
    var Danh_sach_Mat_hang = XL_LUU_TRU.Doc_Danh_sach_Mat_hang();
    var Ten_dang_nhap = "";
    var Mat_khau = "";
    var Quan_ly = new XL_QUAN_LY(); // Biến  Kết quả
    if (Request["Th_Ten_dang_nhap"] != null)// Xử lý Biến cố
    {
        Ten_dang_nhap = Request["Th_Ten_dang_nhap"];
        Mat_khau = Request["Th_Mat_khau"];
        Quan_ly = Danh_sach_Quan_ly.Find(ql => ql.Ten_dang_nhap.ToLower().Equals(Ten_dang_nhap.ToLower()) && ql.Mat_khau.Equals(Mat_khau));
    }

    var Chuoi_HTML_Quan_ly = ""; // Xử lý Thể hiện : Tạo Chuỗi HTML
    var Chuoi_HTML_Thong_bao = "";
    var Chuoi_HTML_Danh_Sach_Nhan_Vien = "";
    var Chuoi_HTML_Danh_Sach_Nhom_Hang = "";

    if (Ten_dang_nhap == "") // Người dùng chưa nhập liệu
    {
        Chuoi_HTML_Thong_bao = "<div>Xin vui lòng Nhập Tên đăng nhập và Mật khẩu"+ "<br />Click Đồng ý=>Nếu hợp lệ Ứng dụng sẽ chào anh/chị"+ "</div>";
    }
    else if (Quan_ly.Ma_so == "") // Người dùng đã nhập liệu - Không Hợp lệ
    {
        Chuoi_HTML_Thong_bao = "<div>Đăng nhập không hợp lệ" + "<br />Xin vui lòng <b>Nhập lại</b> Tên đăng nhập và Mật khẩu" + "</div>";
    }
    else if (Quan_ly.Ma_so !="") // Người dùng đã nhập liệu - Hợp lệ
    {
        //Ghi nhan thoi gian dang nhap
        DateTime loginTime = DateTime.Now;
        Quan_ly.Danh_sach_Dang_nhap.Add(loginTime);
        XL_LUU_TRU.Ghi_Quan_ly(Quan_ly);
        Chuoi_HTML_Quan_ly = XL_THE_HIEN.Tao_Chuoi_HTML_Quan_ly_Khi_Chao(Quan_ly);
        Chuoi_HTML_Thong_bao = "<h4>Chúng ta hiện có " + Danh_sach_Nhom_hang.Count + " Nhóm hàng" +
                                                      " với " + Danh_sach_Mat_hang.Count + " Mặt hàng </h4>";
        Chuoi_HTML_Danh_Sach_Nhom_Hang = XL_THE_HIEN.Tao_Chuoi_HTML_Danh_sach_Nhom_hang_New(Danh_sach_Nhom_hang, Danh_sach_Mat_hang);
        Chuoi_HTML_Danh_Sach_Nhan_Vien = XL_THE_HIEN.Tao_Chuoi_HTML_Danh_sach_Nhan_vien(Danh_sach_Nhan_vien);

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
</head>
<body>
    <form method="post" action="MH_Chao_Quan_ly.cshtml">
        <div class="container-fluid">
            <div>
                <div class="alert" style="height:10px">
                     Đăng nhập Quản lý 
                </div>           
                <div class="alert" style="height:30px">
                    <input name="Th_Ten_dang_nhap" required="required"
                           spellcheck="false" autocomplete="off" value="" />
                </div>
                <div class="alert" style="height:30px">
                    <input name="Th_Mat_khau" type="password" required="required"
                           spellcheck="false" autocomplete="off" value="" />
                </div>
                <div class="alert" style="height:40px">
                    <button class="btn btn-danger" type="submit">Đồng ý</button>
                </div>
            </div>
            @Html.Raw(Chuoi_HTML_Quan_ly)
            @Html.Raw(Chuoi_HTML_Thong_bao)
            @Html.Raw(Chuoi_HTML_Danh_Sach_Nhom_Hang)
            @Html.Raw(Chuoi_HTML_Danh_Sach_Nhan_Vien)
        </div>
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 