<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
</head>

<body style="font-family:Arial;">
    <div class="container-fluid">
        <div class="btn" style="text-align:left;font-size:1.4em">
            <b style="color:blue" ><i>Lưu ý Sinh viên</i></b>
            <div style="margin-left:10px">
                1. Đây là Ứng dụng Minh họa Mô hình 3-Layers và Mô hình Đối tượng 
                     <i style="color:blue">Liên kết Mã số</i> với 
                <br /><span style="color:brown">- Công nghệ Giao diện : CSHTML</span>
                <br /><span style="color:navy">- Biến Đối tượng : Đốí tượng tự định nghĩa</span>
                <br /><span style="color:black">- Công nghệ Lưu trữ : Tập tin Json</span>
                
                <br /> Để hiểu tốt Ứng dụng. Sinh viên cần
                <div style="margin-left:20px">
                    - Xem các Slide đính kèm (bên trong thư muc Solution)==> Hiểu Mô hình  <br /> 
                    - Cho thực hiện ứng dụng  bước 1 (Kích hoạt với góc nhìn người sử dụng )<br />
                    - Cho thực hiện ứng dụng  bước 2 (Debug với góc nhìn lập trình viên )
                </div>
                
            </div>
            <div style="margin-left:10px">
                2. Bài tập  
                <br />Để hiểu Mô hình 3-Layers và Mô hình Đối tượng. Sinh viên
                <div style="margin-left:20px">
                    Lập trình lại Ứng dụng theo Mô hình Đối tượng 
                         <i style="color:blue">Liên kết Đối tượng </i> <b>Tích hợp 1</b> 
                    <br />( Bài tập Loi_chao_3L_Tich_hop)
                </div>

            </div>

        </div>

    </div>

     
</body>
</html>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
