header#admin_header
    .header_top
        .row
            .col-xs-12.col-sm-6.text-left
                a.marginl-2rem(href="index.html") #[img(src="../images/logo.png")]
            .col-sm-6.text-right.hidden-xs
                ul.list-inline
                    li Last Login: 19:05 25/06/2017
                    li #[a(href="#") Log Out]