header#admin_header
    .header_top
        .row
            .col-xs-6.text-left
                a(href="index.html") #[img.img-responsive(src="../images/logo.png")]
            .col-xs-6.text-right
                ul.list-inline
                    li Last Login: 19:05 25/06/2017
                    li #[a(href="#") Log Out]