.list-group
    a.list-group-item.active(href="admin_dashboard.html") Dashboard
    a.list-group-item(href="admin_users.html") Users
    a.list-group-item(href="admin_orders.html") Orders
    a.list-group-item(href="admin_categories.html") Categories
    a.list-group-item(href="admin_products.html") Products
    a.list-group-item(href="admin_messages.html") Messages