.list-group
    a.list-group-item.active(href="#") Dashboard
    a.list-group-item(href="#") Users
    a.list-group-item(href="#") Orders
    a.list-group-item(href="#") Categories
    a.list-group-item(href="#") Products
    a.list-group-item(href="#") Messages