* {
    box-sizing: border-box;
}

body {
    color: blue;
    font-size: 1em;
    font-family: Arial;
 
}

.NHAP_LIEU {
    font-size: 1.2em;
    color: blue;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 0.5px solid;
}


.THONG_BAO {
    font-size: 1.2em;
    color: brown;
    margin-left: 3vw;
    clear: both;
}

.DANH_SACH_HOC_SINH {
    color: blue;
    font-size: 1.1em;
}

.HOC_SINH {
    font-style: italic;
    width: 28vw;
    float: left;
    margin: 5px;
    padding-left: 10px;
    border-left: 0.5px solid navy;
}
.DONG_HO_PET {
    font-size: inherit;
    color: brown;
    margin: 10px;
   
}
