@{
    //****************** Xử lý Bảo mật  **********
    var QuanLy = (XL_QUAN_LY)Session["Nhan_vien_Dang_nhap"];
    if (QuanLy == null)
    {
        Response.Write("Người dùng chưa Đăng nhập");
        Response.End();
    }
    var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
    var dsNV = Du_lieu.Loc_DS_Nhan_Vien(QuanLy);
    //Chức năng ghi y kien
    var Chuoi_HTML_Thong_bao = "";

    //******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
    if (Request["TH_Ma_Nhan_Vien"] != null) // Xử lý Biến cố
    {
        var MaNhanVien = Request["TH_Ma_Nhan_Vien"];
        var YKien = Request["TH_Y_Kien"];
        var NgayNopDon = Request["TH_NgayNopDon"];
        var NgayBatDau = Request["TH_NgayBatDauNghi"];

        //validate input
        var Hop_le = true;

        if (Hop_le)
        {
            var KetQua = Du_lieu.Ghi_Y_Kien(MaNhanVien, YKien, NgayNopDon, NgayBatDau);
            if (KetQua == "OK")
            {
                Chuoi_HTML_Thong_bao += "Cho ý kiến thành công";
            }
            else
            {
                Chuoi_HTML_Thong_bao += "Cho ý kiến không thành công";
            }
        }
    }

    //******************* Kết xuất  **********
    var Chuoi_HTML = Du_lieu.Tao_Chuoi_HTML(dsNV);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body style="font-family:Arial;width:100%;box-sizing:border-box;
              margin:0px;padding:0px;overflow-x:hidden" class="container-fluid">
    
        <div class="CUA_SO_PET" style="background-color:aliceblue;margin:10px">
            <div class="btn PET" style="margin-left:0px">
                <img src="@Du_lieu.Dia_chi_Media/PET.png"
                     style="width:40px;height:30px;" />
                <div class="btn TOM_TAT" style="color:blue;text-align:center">
                    Mô hình - Công nghệ - Kỹ thuật
                    <br /><b><i>Đơn giản</i></b>
                </div>
            </div>
            <div class="btn btn-outline-primary" style="background-color:white;color:blue">
                Phân tích & Thiết kế Phần mềm
                <br /> Kiểm tra trực tuyến lần 1
            </div>
            <div class="btn btn-outline-primary" style="background-color:white;color:saddlebrown">
                Phân hệ Nhân Viên Quản Lý Chi Nhánh
            </div>
        </div>
        <div class="CUA_SO_CHUC_NANG" style="background-color:#ccc;margin:10px">
            <div class="DANH_SACH_CHUC_NANG">

            </div>
        </div>
        <div class="CUA_SO_KET_QUA" style="background-color:white;margin:10px">
            @Html.Raw(Chuoi_HTML_Thong_bao)
            @Html.Raw(Chuoi_HTML)
        </div>
    



</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>