#carousel.carousel.slide(data-ride="carousel")
    //Indicators
    ol.carousel-indicators
        li.active(data-target="#carousel" data-slide-to="0")
        li(data-target="#carousel" data-slide-to="1")
        li(data-target="#carousel" data-slide-to="2")
        li(data-target="#carousel" data-slide-to="3")
    //Wrapper for slides
    .carousel-inner
        .item.active
            img(src="../images/slider/slide1.jpg")
            .carousel-caption
                h1 BEST SHOES
        .item
            img(src="../images/slider/slide2.jpg")
            .carousel-caption
                h1 BEST SUIT
        .item
            img(src="../images/slider/slide3.jpg")
            .carousel-caption
                h1 BEST CAMERA
        .item
            img(src="../images/slider/slide4.jpg")
            .carousel-caption
                h1 BEST SOFA