footer
    .footer_top
        .container
            .row
                .col-xs-12.col-sm-4.col-md-3
                    h6 LINKS
                    ul
                        li #[a(href="#") About Us]
                        li #[a(href="#") Delivery Information]
                        li #[a(href="#") Terms and Conditions]
                        li #[a(href="#") Contact Us]
                .col-xs-12.col-sm-4.col-md-3
                    h6 ACCOUNT
                    ul
                        li #[a(href="#") Profile]
                        li #[a(href="#") Order History]
                .col-xs-12.col-sm-4.col-md-3
                    h6 SOCIAL
                    ul.list-inline
                        li #[a(href="#") #[i.fa.fa-facebook-square]]
                        li #[a(href="#") #[i.fa.fa-google-plus-square]]
                        li #[a(href="#") #[i.fa.fa-instagram]]
                        li #[a(href="#") #[i.fa.fa-pinterest]]
    .footer_bottom
        .container
            .row
                .col-xs-12.col-sm-6
                    p HO CHI MINH UNIVERSITY OF SCIENCE
                .col-xs-12.col-sm-6
                    p.text-right NGUYEN DUC TRUNG - 1581270