footer
    .footer_top
        .container
            .row
                .col-xs-12.col-sm-4.col-md-3
                    h6 LINKS
                    ul.list-unstyled
                        li #[a(href="about.html") About Us]
                        li #[a(href="#") Delivery Information]
                        li #[a(href="#") Terms and Conditions]
                        li #[a(href="contact.html") Contact Us]
                .col-xs-12.col-sm-4.col-md-3
                    h6 ACCOUNT
                    ul.list-unstyled
                        li #[a(href="profile.html") Profile]
                        li #[a(href="order_history.html") Order History]
                .col-xs-12.col-sm-4.col-md-3
                    h6 SOCIAL
                    ul.list-inline
                        li #[a.social(href="#") #[i.fa.fa-facebook-square.fa-lg]]
                        li #[a.social(href="#") #[i.fa.fa-google-plus-square.fa-lg]]
                        li #[a.social(href="#") #[i.fa.fa-instagram.fa-lg]]
                        li #[a.social(href="#") #[i.fa.fa-pinterest.fa-lg]]
    .footer_bottom
        .container
            .row
                .col-xs-12.col-sm-6
                    p HO CHI MINH UNIVERSITY OF SCIENCE
                .col-xs-12.col-sm-6
                    p.text-right NGUYEN DUC TRUNG - 1581270