<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><title>Trang Chính - Khách Hàng</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="DD_Chinh.css" type="text/css">
<body>
    @using System.Xml;
    @{
        //var Du_Lieu = XL_DU_LIEU.Khoi_dong_Du_lieu();
        var Du_Lieu = XL_DU_LIEU.Instance;
        Du_Lieu.Khoi_dong_Du_lieu();
        var DS_Dien_Thoai_Iphone = Du_Lieu.DS_Dien_Thoai_Iphone();
        var DS_Dien_Thoai_Android = Du_Lieu.DS_Dien_Thoai_Android();
        var Chuoi_The_Hien_DS_Dien_Thoai_Iphone = new HtmlString("");
        var Chuoi_The_Hien_DS_Dien_Thoai_Android = new HtmlString("");
        if (DS_Dien_Thoai_Iphone != null )
        {
            var Chuoi_HTML_Iphone = Du_Lieu.Tao_Chuoi_HTML_Danh_Sach_Dien_Thoai(DS_Dien_Thoai_Iphone);
            Chuoi_The_Hien_DS_Dien_Thoai_Iphone = new HtmlString(Chuoi_HTML_Iphone);

        }
        if (DS_Dien_Thoai_Android != null)
        {
            var Chuoi_HTML_Android = Du_Lieu.Tao_Chuoi_HTML_Danh_Sach_Dien_Thoai(DS_Dien_Thoai_Android);
            Chuoi_The_Hien_DS_Dien_Thoai_Android = new HtmlString(Chuoi_HTML_Android);
        }
    }

    <div class="container-fluid">
        <header class="green">
            <div class="container">
                <div class="row valign-wrapper white-text">
                    <div class="col s2"><a class="white-text" href="#"><h5>BDT-TT</h5></a></div>
                    <div class="col s9 center-align"><h4>Khách hàng</h4></div>
                </div>
            </div>
        </header>

        <form action="" method="post" class="row">
            <div id="main_wrapper">
                <div class="container">                                     
                    <h2>Iphone</h2>
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel">
                                @Chuoi_The_Hien_DS_Dien_Thoai_Iphone                                
                            </div>
                        </div>
                    </div>
                    <h2>Android</h2>
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel">
                                @Chuoi_The_Hien_DS_Dien_Thoai_Android                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer class="green darken-3">
            <div class="center-align white-text">
                <h5>Đồ án cuối kì - Công nghệ XML và ứng dụng</h5><h6>
                    Nguyễn Đức Trung -
                    1581270
                </h6>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="script.js"></script>
</body>