<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><title>Trang Đặt Hàng - Khách Hàng</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="DD_Chinh.css" type="text/css">
<body>
    @using System.Xml;
    @{
        var Du_Lieu = XL_DU_LIEU.Khoi_dong_Du_lieu();
        var MaSoDienThoai = Request.QueryString["id"];
        var Chuoi_The_Hien_DT = new HtmlString("");
        var DienThoai = Du_Lieu.Tra_DT_Theo_Ma(MaSoDienThoai);
        var Chuoi_The_Hien_ThongBao = new HtmlString("");
        if (DienThoai != null)
        {
            var Chuoi_HTML_DienThoai = Du_Lieu.Tao_Chuoi_HTML_Chi_Tiet_Dien_Thoai(DienThoai);
            Chuoi_The_Hien_DT = new HtmlString(Chuoi_HTML_DienThoai);
        }
    }
    <div class="container-fluid">
        <header class="green">
            <div class="container">
                <div class="row valign-wrapper white-text">
                    <div class="col s2"><a class="white-text" href="#"><h5>BDT-TT</h5></a></div>
                    <div class="col s9 center-align"><h4>Khách hàng</h4></div>
                </div>
            </div>
        </header>
        <form action="" method="post" class="row">
            <div id="main_wrapper">
                <div class="container">
                    <h2>Đặt hàng</h2><h4>Đơn hàng</h4>
                    @Chuoi_The_Hien_DT
                    <h4>Khách hàng</h4>
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="ho-ten" type="text"><label for="ho-ten">
                                            Họ
                                            Tên
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="so-dien-thoai" type="text"><label for="so-dien-thoai">Số Điện Thoại</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="dia-chi" type="text"><label for="dia-chi">
                                            Địa
                                            Chỉ
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align"><a class="waves-effect waves-light btn">Xác Nhận</a></div>
                        <div class="col s12 center-align red-text"><p class="text-center">@Chuoi_The_Hien_ThongBao</p></div>
                    </div>
                </div>
            </div>

            
        </form>
            <footer class="green darken-3">
                <div class="center-align white-text">
                    <h5>Đồ án cuối kì - Công nghệ XML và ứng dụng</h5><h6>
                        Nguyễn Đức Trung -
                        1581270
                    </h6>
                </div>
            </footer>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="script.js"></script>
</body>