extends template
include mixins/mixin
block btitle
    title About | LTW01
block content
    .container
        .row
            .col-sm-12.hidden-xs
                -
                    var list= {
                    'index.html':'Home',
                    '#':'About us'
                    }
                +breadcrumb(list)
        .row
            .col-lg-9
                h1 ABOUT US
                .row
                    .col-xs-12.text-center.marginb-2rem
                        img.img-responsive(src="../images/blog/post-image-3.jpg")
                    .col-xs-12(style="margin-bottom: 2rem")
                        h4 This website is a project for class LTW01 - 2017
                        h4 Lecturer: Ms.Tran Thi Bich Hanh
            .col-lg-3
                include partials/sidebar