extends admin_template
block btitle
    title Dashboard | LTW - Lab03
block content
    .row
        .col-xs-12
            h1 From Last Login
    .row
        .col-sm-4
            .panel.panel-default
                .panel-body
                    p 2 New Users
        .col-sm-4
            .panel.panel-default
                .panel-body
                    p 2 New Orders
        .col-sm-4
            .panel.panel-default
                .panel-body
                    p 2 New Messages
    .row
        .col-xs-12
            table.table.table-responsive.table-bordered.table-hover
                thead
                    th No
                    th Name
                    th Model
                    th Item No
                    th Quantity
                tbody
                    tr
                        td 001
                        td Name 1
                        td ASDA
                        td 001
                        td 5
                    tr
                        td 001
                        td Name 1
                        td ASDA
                        td 001
                        td 5
                    tr
                        td 001
                        td Name 1
                        td ASDA
                        td 001
                        td 5