@{
//****************** Khởi động Dữ liệu Nguồn-Nội bộ **********
//var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu_Ung_dung();
//var Danh_sach_Mat_hang = Du_lieu.Danh_sach_Mat_hang;

////******************* Khai báo Biến  ********************
//var Chuoi_Tra_cuu = "";// Biến Nhập
//var Danh_sach_Mat_hang_Xem = Danh_sach_Mat_hang; // Biến Kết quả

////******************* Nhập liệu cho Biến Nhập nếu có - Tính Biến kết quả nếu Hợp lệ   *****************
//if (Request["Th_Chuoi_Tra_cuu"] != null)
//{
//    Chuoi_Tra_cuu = Request["Th_Chuoi_Tra_cuu"];
//    Danh_sach_Mat_hang_Xem = Du_lieu.Tra_cuu_Mat_hang(Chuoi_Tra_cuu, Danh_sach_Mat_hang);
//    Danh_sach_Mat_hang_Xem = Danh_sach_Mat_hang_Xem.OrderBy(Mat_hang => Mat_hang.Nhom_Mat_hang.Ma_so).ToList();
//}

////******************* Kết xuất  **********
//var Chuoi_HTML_Danh_sach_Mat_hang = Du_lieu.Tao_Chuoi_HTML_Danh_sach_Mat_hang(Danh_sach_Mat_hang_Xem);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="~/1_Giao_Dien/styles.css" />
</head>
<body class="container-fluid">

    <h1>Màn hình chính</h1>    

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>