
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="DD_Cap_nhat.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    @using System.Xml;
    @{
        var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu();
        var Chuoi_Nhap_lieu_SBD = "";
        var Chuoi_The_hien_Thong_bao = new HtmlString(
                "Nhập SBD  của thí sinh  (Kết thúc với Enter)");
        var Chuoi_The_hien_Thi_Sinh = new HtmlString("");


        if (IsPost && Request["Th_Diem_Toan"] == null)
        {

            Chuoi_Nhap_lieu_SBD = Request["Th_SBD"].Trim();
            var Thi_Sinh = Du_lieu.Tim_Thi_Sinh_Theo_SBD(Chuoi_Nhap_lieu_SBD);

            var Hop_le = Thi_Sinh != null;
            if (Hop_le)
            {
                var Chuoi_HTML = Du_lieu.Tao_Chuoi_HTML_Cap_nhat_Diem_Toan(Thi_Sinh);
                Chuoi_The_hien_Thi_Sinh = new HtmlString(Chuoi_HTML);

                Chuoi_The_hien_Thong_bao = new HtmlString("Nhập điểm toán mới (Kết thúc với Enter) ");


            }
            else
            {
                Chuoi_The_hien_Thong_bao = new HtmlString("Số báo danh không hợp lệ ");

            }

        }
        else if (IsPost && Request["Th_Diem_Toan"] != null)
        {
            var SBD = Request["Th_SBD"];
            var Chuoi_Diem_Toan = Request["Th_Diem_Toan"].Trim();
            float DiemToan = -1;
            try
            {
                DiemToan = float.Parse(Chuoi_Diem_Toan);
                var Hop_le = (0 <= DiemToan && 10 >= DiemToan);
                if (Hop_le)
                {
                    var Thi_Sinh = Du_lieu.Tim_Thi_Sinh_Theo_SBD(SBD);
                    Thi_Sinh.SetAttribute("Diem_Toan", Chuoi_Diem_Toan);
                    var Kq = Du_lieu.Cap_Nhat_Thi_sinh(Thi_Sinh);
                    if (Kq == "")
                    {
                        var Chuoi_HTML = Du_lieu.Tao_Chuoi_HTML_Cap_nhat_Diem_Toan(Thi_Sinh);
                        Chuoi_The_hien_Thi_Sinh = new HtmlString(Chuoi_HTML);
                        Chuoi_The_hien_Thong_bao = new HtmlString("Đã cập nhật");
                    }
                    else
                    {
                        Chuoi_The_hien_Thong_bao = new HtmlString("Cập nhật không thành công");
                    }

                }
                else
                {
                    Chuoi_The_hien_Thong_bao = new HtmlString("0 <= Điểm toán <= 10");
                }
            }
            catch (Exception ex)
            {
                Chuoi_The_hien_Thong_bao = new HtmlString("Điểm toán phải không rỗng và là số");
            }

        }
    }


    <div class="container-fluid">
        <form action="MH_Cap_Nhat_Diem_Toan.cshtml" method="post" class="row">
            <input name="Th_SBD" class="NHAP_LIEU" id="Th_SBD" spellcheck="false"
                   autocomplete="off" placeholder="Số Báo Danh"
                   value="@Chuoi_Nhap_lieu_SBD" />
        </form>
        <div id="Th_Thong_bao" class="row THONG_BAO">
            @Chuoi_The_hien_Thong_bao
        </div>
        <div class="row KHUNG_HOC_SINH">
            @Chuoi_The_hien_Thi_Sinh
        </div>
    </div>
</body>
</html>
