<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><title>Trang Cập Nhật Đơn Giá - Quản Lý</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="DD_Chinh.css" type="text/css">
<body>
    @using System.Xml;
    @{
        var Du_Lieu = XL_DU_LIEU.Khoi_dong_Du_lieu();
        var Chuoi_The_Hien_DT = new HtmlString("");
        var Chuoi_The_Hien_TB = new HtmlString("");
        if (!IsPost)
        {
            var MaSoDienThoai = Request.QueryString["id"];
            var DienThoai = Du_Lieu.Tra_DT_Theo_Ma(MaSoDienThoai);
            var Chuoi_The_Hien_ThongBao = new HtmlString("");
            if (DienThoai != null)
            {
                var Chuoi_HTML_DienThoai = Du_Lieu.Tao_Chuoi_HTML_Cap_Nhat_Don_gia(DienThoai);
                Chuoi_The_Hien_DT = new HtmlString(Chuoi_HTML_DienThoai);
            }
        }
        else
        {
            var MaSoDienThoai = Request["MaDt"];
            var DonGiaMoi = Request["don-gia"];
            if (MaSoDienThoai != "" && DonGiaMoi != "")
            {
                var Kq = Du_Lieu.doCapNhatDonGia(MaSoDienThoai, DonGiaMoi);
                if (Kq == "")
                {
                    Chuoi_The_Hien_TB = new HtmlString("Cập nhật thành công");
                }
                else
                {
                    Chuoi_The_Hien_TB = new HtmlString("Cập nhật thất bại");
                }
            }
            var DienThoai = Du_Lieu.Tra_DT_Theo_Ma(MaSoDienThoai);
            var Chuoi_The_Hien_ThongBao = new HtmlString("");
            if (DienThoai != null)
            {
                var Chuoi_HTML_DienThoai = Du_Lieu.Tao_Chuoi_HTML_Cap_Nhat_Don_gia(DienThoai);
                Chuoi_The_Hien_DT = new HtmlString(Chuoi_HTML_DienThoai);
            }
        }


    }
    <div class="container-fluid">
        <header class="green">
            <div class="container">
                <div class="row valign-wrapper white-text mb-0">
                    <div class="col s2"><a class="white-text" href="Trang-Chinh.cshtml"><h5>BDT-TT</h5></a></div>
                    <div class="col s9 center-align"><h4>Nhân Viên</h4></div>
                </div>
            </div>
        </header>
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <ul>
                        <li><a class="active" href="Trang-Chinh.cshtml">Đơn Giá</a></li>
                        <li><a href="#">Đơn Hàng</a></li>
                        <li><a href="#">Phân Công</a></li>
                        <li><a href="#">Thống Kê Tháng</a></li>
                        <li><a href="#">Thống Kê Năm</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main_wrapper">
            <div class="container">
                <h4>Cập Nhật Đơn Giá</h4>
                @Chuoi_The_Hien_DT                
                <h6>@Chuoi_The_Hien_TB</h6>
            </div>
        </div>
        <footer class="green darken-3">
            <div class="center-align white-text">
                <h5>Đồ án cuối kì - Công nghệ XML và ứng dụng</h5><h6>
                    Nguyễn Đức Trung -
                    1581270
                </h6>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="script.js"></script>
</body>